/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3f00ff;
  color: white;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

h1 {
  margin: 0;
  font-size: 1.5vw;
}

.logo {
  height: 3vw;
  width: auto;
  position: absolute;
  left: 30px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #3f00ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #5c33ff;
}

footer {
  background-color: #202938;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Existing styles remain unchanged */

/* Table styles */
.container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3f00ff;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}

.sanctionBtn {
  background-color: #3f00ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sanctionBtn:hover {
  background-color: #5c33ff;
}

/* Responsive styles for the table */
@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  .sanctionBtn {
    padding: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }

  .sanctionBtn {
    padding: 6px;
    font-size: 10px;
  }
}

.logoutBtn {
  padding: 10px;
  margin: 50px 0;
  background-color: #3f00ff; /* The color you requested */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Optional, adds slight rounding to the button */
  position: absolute;
  top: 20px;
  right: 20px;
}

.logoutBtn:hover {
  background-color: #2d00b3; /* A darker shade of #3f00ff on hover */
}

p{
  font-size: 10px;
  color: #6b7581;
}

/* Popup notification styles */
.popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}
